.header {
  /*display: block;
    margin: auto;*/
  height: auto;
  width: 30%;
  position: relative;
  top: 0px;
  left: 30%;
}

.folder {
  background-color: transparent;
  background-image: url("icons/closed folder home.png");
  /* Set the closed image as background */
  background-size: contain;
  /* Adjust as needed */
  background-repeat: no-repeat;
  /* Adjust as needed */
  background-position: center;
  /* Adjust as needed */
  width: 100px;
  /* Set the width of the button */
  height: 100px;
  /* Set the height of the button */
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0px;
}

.folder:hover {
  background-image: url("icons/open folder home.png");
  /* Set the open image as background on hover */
}